@import "tailwindcss";

/* Tailwind theme variables */
@theme {
  --color-primary: #16a34a;
  --color-orange: #EF7F21;
  --color-orangeDark: #CC502A;
  --color-orangeLight: #FDC495;
}

/* your custom styles */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}